<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div style="width: 75%; background-color:#00aced ; text-align: center; margin: 5px auto">
  <h1 style="color: white"><%= link_to "Twitterもどき", root_path, style:"color:white; text-decoration: none;" %></h1>
</div>

<div style="display: flex; width:75%; margin: 5px auto;">
  <div>
    <div style="text-align: center">
      @<%= @user.name %>
    </div>
    <div style="text-align: center">
      <%= link_to "Tweet", new_user_tweet_path(@user) %>
    </div>
    <div style="text-align: center">
      <%= link_to "Home", user_path(@user) %>
    </div>
    <div style="text-align: center">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
    </div>
  </div>

  <div style="text-align: center; width: 75%; margin: 10px auto;">
    <% @tweets.each do |tweet| %>
      <div style="padding: 5px;border: 2px solid #000000; margin-top: 5px">
        @<%=  tweet.user.name %><br>
        <%=  link_to tweet.sentence, tweet_path(tweet) %>
        <div style="margin-top: 10px">
          いいね <%= tweet.liked_users.count %>
        </div>
        <div style="margin-top: 10px">
          <%= link_to "Reply" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
